<div id="commentItem" name="commentItem" class="d-flex">
    <div class="mr-auto p-2">
        <p class="card-text">
            <a href="/profile/{{author}}" style="color:black"><b>{{author}}</b></a> {{text}}
        </p>
    </div>
    {{#if userOwnsComment}}
    <div class="p-2">
        <form id="deleteCommentForm" name="deleteCommentForm" method="GET">
            <button id="delete-comment-btn" name="delete-comment-btn" class="btn btn-outline-danger">Delete</button>
            <textarea readonly="readonly" id="deleteCommentId" name="deleteCommentId" style="display: none;">{{_id}}</textarea>
            <textarea readonly="readonly" id="deleteCommentPostParentId" name="deleteCommentPostParentId" style="display: none;">{{postParentId}}</textarea>
        </form>
    </div>
    {{/if}}
</div>