<div id="commentItem" name="commentItem" class="d-flex">
    <div class="mr-auto p-2">
        <span class="card-text">
            <a href="/profile/{{author}}" style="color:black"><b>{{author}}</b></a> 
        </span>
        <p class="card-text" style="display: inline-block;">
            {{text}}
        </p>
    </div>
    {{#if userOwnsComment}}
    <div class="p-2">
        <form id="deleteCommentForm" name="deleteCommentForm" method="GET" action="/deleteComment">
            <button id="delete-comment-btn" name="delete-comment-btn" class="btn btn-outline-danger">Delete</button>
            <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
        </form>
    </div>
     <div class="p-2">
         {{#if openEditComment}}
            <form id="submitEditCommentForm" name="submitEditCommentForm" method="GET" action="/submitEditComment">
                <textarea class='text-submission' id='newText' name='newText' placeholder='Edit Comment' style='width: 100%; max-width: 100%;' rows='1' required>{{text}}</textarea>
                <button id="submit-edit-comment-btn" name="submit-edit-comment-btn" class="btn btn-danger">Save</button>
                <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
                <textarea readonly="readonly" id="commentParentPostId" name="commentParentPostId" style="display: none;">{{parentPostId}}</textarea>
            </form>
        {{else}}
            <form id="editCommentForm" name="editCommentForm" method="GET" action="/openEditComment">
                <button id="edit-comment-btn" name="edit-comment-btn" class="btn btn-outline-danger">Edit</button>
                <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
                <textarea readonly="readonly" id="commentText" name="commentText" style="display: none;">{{text}}</textarea>
            </form>
        {{/if}}
    </div>
    {{/if}}
</div>