<div id="commentItem" name="commentItem" class="d-flex">
    <div class="mr-auto p-2">
        <p class="card-text">
            <a href="/profile/{{author}}" style="color:black"><b>{{author}}</b></a> {{text}}
        </p>
    </div>
    {{#if userOwnsComment}}
    <div class="p-2">
        <form id="deleteCommentForm" name="deleteCommentForm" method="GET" action="/deleteComment">
            <button id="delete-comment-btn" name="delete-comment-btn" class="btn btn-outline-danger">Delete</button>
            <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
        </form>
    </div>
     <div class="p-2">
         {{#if openEditComment}}
            <!--Put the input text with submit here-->
              <textarea class='text-submission' id='captionEditForm' name='captionEditForm' placeholder='Edit Comment' style='width: 100%; max-width: 100%;' rows='2'>{{comment}}</textarea>
        {{else}}
        <form id="editCommentForm" name="editCommentForm" method="GET" action="/editComment">
            <button id="edit-comment-btn" name="edit-comment-btn" class="btn btn-outline-danger">Edit</button>
            <textarea readonly="readonly" id="commentId" name="commentId" style="display: none;">{{_id}}</textarea>
        </form>
        {{/if}}
    </div>
    {{/if}}
</div>