<div class="card mb-3">
    <a href="/post/{{_id}}"><img src="{{imageUrl}}" class="card-img-top" alt="..."></a>
    <div class="card-body">
        <a href="/post/{{_id}}"><h5 class="card-title-custom">{{postTitle}}</h5></a>
        <p class="card-text">{{caption}}</p>
        <p class="card-text"><small class="text-muted">Posted by {{author}}</small></p>
    </div>
</div>