<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="/post/{{_id}}"><img src="/postImgs/{{imageUrl}}" class="card-img image-feed" alt="..."></a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="/post/{{_id}}"><h2 class="card-title-custom">{{postTitle}}</h2></a>
                <h5>by {{author}}</h5>
                <p class="card-text">{{caption}} </p>
                <hr> Meowted by <b>{{numberOfMeowts}}</b>
                <hr>
                <p class="card-text"><b>{{latestCommentAuthor}} </b>{{latestComment}}</p>
                <a href="/post/{{_id}}">View Comments {{numberOfComments}}</a>
                <p class="card-text"><small class="text-muted">Last edited at {{date}}</small>
                </p>
            </div>
        </div>
    </div>
</div>