<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="/post/{{_id}}"><img src="{{imgUrl}}" class="card-img image-feed" alt="..."></a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="/post/{{_id}}"><h2 class="card-title-custom">{{title}}</h2></a>
                <h5>by {{author}}</h5>
                <p class="card-text">{{caption}} </p>
                <hr> Liked by <b>{{usersWhoMeowted}}</b>
                <hr>
                <p class="card-text"><b>Test</b>Test</p>
                <a href="/post/{{_id}}">View Comments {{numberOfComments}}</a>
                <p class="card-text"><small class="text-muted">Posted {{date}}</small>
                </p>
                <div class="text-muted small" style="text-align: right;">
                    <a href="#">Delete</a> <a href="#">Edit</i></a>
                </div>
            </div>
        </div>
    </div>
</div>