<script> document.title = "{{name}} | Catvas"  </script>
<div class="container-cat">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 col-xl-4">
                <div class="center-wrapper">
                    <img src="{{imageUrl}}" width="400px", height="400px" style="object-fit: cover; box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.10);">
                    <ul class="cat-details">
                        <li id="adoption-status"><i class="fas fa-clipboard-check"></i>
                            {{adoptionStatus}}
                        </li>
                        <li id="cat-age"><i class="fas fa-history"></i>
                            {{age}} years old
                        </li>
                        <li id="cat-sex"><i class="fas fa-venus-mars"></i>
                            {{gender}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-md-8 col-lg-8 col-xl-8">
                <div class="center-wrapper">
                    <p id="cat-name-profile">MEOW, my name is {{name}}!</p>
                    <br>
                    <p id="cat-short-description"> {{shortDescription}}</p>
                </div>
                <hr class="cat-bar">
                <p class="profile-mini-header">A brief description of your future cat by your future cat</p>
                <p id="your-cat">"{{yourCatDescription}}"
                </p>
                <p class="profile-mini-header">DLSU PUSA's thoughts</p>
                <p id="pusa-thoughts"> 
                    "{{pusaThoughts}}" 
                    <br><br>
                </p>
                <p id="notable-quotes">
                    "{{notableQuotes}}"
                </p>
                <div class="center-wrapper">
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> ADOPT ME</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> GODPARENT</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-paw"></i> FAVORITE</button>
                </div>
            </div>
        </div>
    </div>

    