<script> document.title = "{{postTitle}} | Catvas"  </script>
<div class="container" style="margin-top: 6em; max-width: 85em;">
        <div class = "row">
            <div class = "col-5">
            <div class="card mb-3" >
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{imageUrl}}" class="card-img" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h2 class="card-title-custom" style="margin-bottom: 0%; padding-bottom:0; ">{{postTitle}}</h2>
                            <a href="#" id="edit-title-btn">Edit Title</a>
                            <h5>by {{author}}</h5>
                            <p class="card-text">{{caption}}</p>
                            <a href="#" id="edit-post-btn">Edit Caption</a>
                            <hr>
                            <div class="d-flex" style="align-items: center;">
                                <button id="like-btn" type="button" class="btn btn-outline-danger"> <i class="fas fa-heart"></i> </button>
                                <span style="padding-left: 10px;">
                                Liked by <b>{{numberOfMeowts}}</b>
                                </span>
                            </div>
                            <hr>
                            <p class="card-text"><small class="text-muted">Last updated {{date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="row h-100">
                        
                        <div class="col-10">
                            <input class="text-submission" type="text" id="comment" name="comment" placeholder="Comment" style="width: 100%;">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-danger" id="comment-submit-btn" name="comment-submit-btn">Submit</button>
                        </div>
                        <div>
                            
                        </div>
                        
                    </div>
                    <hr style="margin-top: 1em; margin-bottom: 1em;">
                    <div id="comments-container">
                        {{#each comments}}
                            {{> commentItem}}
                        {{/each}}
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
<!--Id of post for comment insertion-->

<p id="postId" name="postId" style="display: none;">{{_id}}</p>
    

 