<script> document.title = "{{postTitle}} | Catvas"  </script>
<div class="container" style="margin-top: 6em; max-width: 85em;">
        <div class = "row">
            <div class = "col-5">
            <div class="card mb-3" >
                <div class="row">
                    <div class="col-md-12">
                        <img src="/postImgs/{{imageUrl}}" class="card-img" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="postPageCard" class="card-body">
                            <h2 id="postTitle" name="postTitle" class="card-title-custom" style="margin-bottom: 0%; padding-bottom:0; ">{{postTitle}}</h2>
                            <a href="/profile/{{author}}"><h5 style="color: black;">by {{author}}</h5></a>
                            <p id="caption" name="caption" class="card-text" style="margin-bottom: 0.2em;">{{caption}}</p>
                            {{#if userOwnsPost}}
                                <button type="button" class="btn btn-danger" name="edit-post-btn" id="edit-post-btn">Edit Post</button> 
                                <button type="button" class="btn btn-outline-danger" name="delete-post-btn" id="delete-post-btn" style="float: right;">Delete Post</button> 
                            {{/if}}
                            <hr>
                            <div class="d-flex" style="align-items: center;">
                            {{#if userLiked}}
                                <button id='unlike-btn' type='button' class='btn btn-danger'> <i class='fas fa-heart-broken'></i> </button>
                            {{else}}
                                <button id="like-btn" type="button" class="btn btn-outline-danger"> <i class="fas fa-heart"></i> </button>
                            {{/if}}
                                <span id="meowtedInfo" style="padding-left: 10px;">
                                Meowted by <b>{{numberOfMeowts}}</b>
                                </span>
                            </div>
                            <hr>
                            <p id="date" class="card-text"><small class="text-muted">Last updated {{date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <!--TODO: fix CSS-->
                    <div class="row h-100">
                        <form id="comment-form" name="comment-form" method="GET" action="/addComment">
                            <div class="col-10">
                                <input class="text-submission" type="text" id="comment" name="comment" placeholder="Comment" style="width: 100%;" required>
                                <textarea id="commentPostId" name="commentPostId" readonly="readonly" style="display: none;">{{_id}}</textarea>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-danger" id="comment-submit-btn" name="comment-submit-btn">Submit</button>
                            </div>
                        </form>     
                    </div>
                    <hr style="margin-top: 1em; margin-bottom: 1em;">
                    <div id="comments-container">
                        {{#each comments}}
                            {{> commentItem}}
                        {{/each}}
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
<!--Id of post for comment insertion-->

<p id="postId" name="postId" style="display: none;">{{_id}}</p>
<p id="numberOfMeowts" name="numberOfMeowts" style="display: none;">{{numberOfMeowts}}</p>

 