<script> document.title = "{{username}} | Catvas"  </script>
<div class="container-cat">
    <div class="row">
        <div id='divAvatar' class="col-md-3">
            <img src="/avatars/{{avatar}}" class="card" width="400px" height="400px" style="object-fit: cover;">
            {{#if userOwnsProfile}}
                <br>
                {{#if openChangeAvatar}}
                    <div id='edit-avatar' class='col-md-4'> 
                        <form id='edit-avatar-form' name='edit-avatar-form' enctype='multipart/form-data' method="POST" action="/profile/{{username}}">
                            <input type='file' id='edit-avatar-file' name='edit-avatar-file' accept='image/*' required/>
                            <button type='submit' class='btn btn-danger mb-3' id='submit-avatar-btn'>Submit</button>
                            <p id='avatarError' name='avatarError'>{{avatarErrorMessage}}</p>
                        </form>  
                    </div>
                {{else}}
                    <form id="changeAvatarForm" name="changeAvatarForm" method="GET" action="/openChangeAvatar">
                        <button type="submit" class="btn btn-danger" name="change-avatar" id="change-avatar">Change Avatar</button>
                    </form>
                {{/if}}
                
            {{/if}}
        </div>
        <div id="userInfo" class="col-md-9 background-red">
            <p class="center" id="cat-name-profile">{{username}}</p>
            <hr>
            <p class="profile-mini-header center"><i class="fas fa-address-card"></i> About Me</p>
            <p id="your-desc" name="your-desc">{{description}}</p>
            {{#if userOwnsProfile}}
                {{#if openEditProfileDescription}}
                    <div id='edit-description-forms'>  
                        <form id="submitEditProfileDescriptionForm" name="submitEditProfileDescriptionForm" method="GET" action="submitEditProfileDescription">
                            <textarea class='text-submission' id='descriptionEditForm' name='descriptionEditForm' placeholder='Edit Description' style='width: 100%; max-width: 100%;' rows='2'>{{description}}</textarea>
                            <button type='submit' class='btn btn-danger' name='edit-description-submit' id='edit-description-submit'>Save</button>
                        </form>
                    </div>
                {{else}}
                    <form id="openEditProfileDescriptionForm" name="openEditProfileDescriptionForm" method="GET" action="/editProfileDescription">
                        <button type="submit" class="btn btn-danger" name="edit-description" id="edit-description">Edit Description</button>
                    </form>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

<p id="username" name="username" style="display: none;">{{username}}</p>